models/efficientnet_model.weights.h5 filter=lfs diff=lfs merge=lfs -text
models/xception_model.weights.h5 filter=lfs diff=lfs merge=lfs -text
models/cnn_model_1M0.h5 filter=lfs diff=lfs merge=lfs -text
models/cnn_model_4M7.h5 filter=lfs diff=lfs merge=lfs -text